form {
    font-size: large;
    font-weight: bold;

    width: max-content;
    margin-left: auto;
    margin-right: auto;

    margin-top: 50pt;
}

form table td {
    padding: 5pt 10pt;
}

form input[type="submit"] {
    font-size: large;

    padding: 5pt 10pt;

    color: white;
    background-color: #2281da;

    border: 1px solid #eee;
    border-radius: 3pt;

}

form input[type="submit"]:hover {
    background-color: #105edd;
}
