{% extends 'index.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
    <script src="{% static 'js/new_problem.js' %}"></script>
{% endblock %}

{% block body %}
<div class="main">
    <h1>{{ title }}</h1>
    <form action="#" method="post" class="std-form">
        {% csrf_token %}
        <table>
            <tr>
                <td><label for="title">Title: </label></td>
                <td><input type="text" id="title" name="title" required></td>
            </tr>
            <tr>
                <td><label for="time_limit">Time Limit (s): </label></td>
                <td><input type="number" id="time_limit" name="time_limit" value="1"></td>
            </tr>
            <tr>
                <td><label for="memory_limit">Memory Limit (mb): </label></td>
                <td><input type="number" id="memory_limit" name="memory_limit" value="256"></td>
            </tr>        
            <tr>
                <td><label for="input_stream">Input Stream: </label></td>
                <td>
                    <input type="text" id="input_stream" name="input_stream" value="Standard Input">
                </td>
            </tr>    
            <tr>
                <td><label for="output_stream">Output Stream: </label></td>
                <td>
                    <input type="text" id="output_stream" name="output_stream" value="Standard Output">
                </td>
            </tr>
            <tr>
                <td><label for="statement">Statement: </label></td>
                <td>
                    <textarea name="statement" id="statement" required cols="40" rows="10"></textarea>
                </td>
            </tr>
            <tr>
                <td><label for="input_format">Input Format: </label></td>
                <td>
                    <textarea name="input_format" id="input_format" cols="40" rows="10"></textarea>
                </td>
            </tr>
            <tr>
                <td><label for="output_format">Output Format: </label></td>
                <td>
                    <textarea name="output_format" id="output_format"cols="40" rows="10"></textarea>
                </td>
            </tr>
            <tr>
                <td><label for="train_cases">Train Cases: </label></td>
                <td>
                    <textarea name="train_cases" id="train_cases"cols="40" rows="10"></textarea>
                </td>
            </tr>
            <tr>
                <td><label for="test_cases">Test Cases: </label></td>
                <td>
                    <textarea name="test_cases" id="test_cases"cols="40" rows="10"></textarea>
                </td>
            </tr>
            <tr>
                <td><label for="note">Note: </label></td>
                <td>
                    <textarea name="note" id="note"cols="40" rows="10"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Create"></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}