{% extends 'index.html' %}

{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/problem.css' %}">
{% endblock  %}

{% block body %}

<div class="main">
    <div class="problem">
        <div class="title"><h2>{{ problem.title }}</h2></div>
        <div class="constraints">
            <div class="time-limit">Time Limit: {{ problem.time_limit }} seconds</div>
            <div class="memory-limit">Memory Limit: {{ problem.memory_limit }} megabytes</div>
            <div class="input-source">Input: {{ problem.input_stream }}</div>
            <div class="output-source">Output: {{ problem.output_stream }}</div>
        </div>
        <div class="statement">
            <h3>Statement</h3>
            {{ problem.statement }}
        </div>
        <div class="input-format">
            <h3>Input</h3>
            {{ problem.input_format }}
        </div>
        <div class="output-format">
            <h3>Output</h3>
            {{ problem.output_format }}
        </div>
        <div class="examples">
            <h3>Examples</h3>
            {% for example in examples %}
                <div class="example">
                    <div class="example-title">Input</div>
                    <div class="example-value">{{ example.input }}</div>
                    <div class="example-title">Output</div>
                    <div class="example-value">{{ example.output }}</div>
                </div>
        {% endfor %}
        </div>
        <div class="note">
            <h3>Note</h3>
            {{ problem.note }}
        </div>
    </div>
</div>

{% endblock %}